@charset "utf-8";
*{margin:0px}
body{color:#666; font-size:14px; font-family:"Arial", Helvetica, sans-serif; z-index:0}
img{border:0px;}
a{color:#003366; text-decoration:none}
a:hover{color:#EA1D22}
input, textarea, select{color:#333; font-size:13px; font-family:"Tahoma", Geneva, sans-serif; outline:none}

.hr{height:1px; background-color:#CCC; border:none; margin-bottom:15px}

.clear1{clear:both; height:1px}
.clear5{clear:both; height:5px}
.clear10{clear:both; height:10px}
.clear20{clear:both; height:20px}
.clear30{clear:both; height:30px}

.corner3{border-radius:3px}
.corner5{border-radius:5px}
.corner8{border-radius:8px}
.corner10{border-radius:10px}

.hr{height:1px; background-color:#CCC; border:none; margin-bottom:15px}
.error{font-style:italic; color:#F00}
.message{color:#00F}
.notes{font-style:italic; padding-left:5px; opacity:0.6}
.hidden{display:none}
.fontOther{font-family: "Times New Roman", Times, serif }
.datetimepick{background:url(img/lich.jpg) no-repeat; background-position:188px 4px}

.iconHot{background:url(img/icon_hot.gif) no-repeat 0px 6px}
.iconNew{background:url(img/icon_new.gif) no-repeat 0px 6px}
.iconTop{background:url(img/icon_top.gif) no-repeat 0px 6px}

/*btn, field, bg color*/
.adBtnSmall{width:auto; color:#FFF !important; font-size:100%; margin-right:10px; padding:10px 20px; cursor:pointer; outline:none}
.adBtnLarge{width:auto; color:#FFF !important; font-size:150%; margin-right:10px; padding:15px 30px; cursor:pointer; outline:none}

.adInput{width:96%; padding:9px 6px; border:solid 1px #CCC}
.adInput:hover{border:solid 1px #999}
.adInput:focus{outline:none; border:solid 1px #ffb752}

.bgColorWhite{color:#999 !important; background-color:#FFF !important; border:solid 1px #CCC}
.bgColorWhite:hover{color:#FFF !important; background-color:#666 !important; border:solid 1px #666}
.bgColorBlue{background-color:#157396 !important; border:solid 3px #157396}
.bgColorBlue:hover{background-color:#126281 !important}
.bgColorGreen{background-color:#699918; border:solid 3px #699918}
.bgColorGreen:hover{background-color:#517612}
.bgColorRed{background-color:#d15b47; border:solid 3px #d15b47}
.bgColorRed:hover{background-color:#b74635}
.bgColorYellow{background-color:#ffb752; border:solid 3px #ffb752}
.bgColorYellow:hover{background-color:#e59729}
.bgColorOranges{background-color:#ff962d; border:solid 3px #ff962d}
.bgColorOranges:hover{background-color:#dd6f00}
.bgColorPink{background-color:#d6487e; border:solid 3px #d6487e}
.bgColorPink:hover{background-color:#b73766}
.bgColorPurple{background-color:#9585bf; border:solid 3px #9585bf}
.bgColorPurple:hover{background-color:#7461aa}
.bgColorBlack{background-color:#555555; border:solid 3px #555555}
.bgColorBlack:hover{background-color:#303030}
.bgColorGray{background-color:#999; border:solid 3px #999}
.bgColorGray:hover{background-color:#666}
/*end btn, field, bg color*/

/*all icon*/
.allIcon{background:url(img/icon.png) no-repeat top left}

.allIconWhite{width:24px; height:24px; display:inline-block; background:url(../admin2/img/icon-default-white.png) no-repeat}
.allIconBlack{width:24px; height:24px; display:inline-block; background:url(../admin2/img/icon-default.png) no-repeat}
.iconWhite1{background-position:4px 0}
.iconWhite2{background-position:-92px 0}
.iconWhite3{background-position:-116px 0}
.iconWhite4{background-position:-92px -144px}
.iconWhite5{background-position:-68px -120px}
.iconWhite6{background-position:-44px -144px}
.iconMoney{background-position:0px -167px}
.iconAddress{background-position:-24px -71px}
.iconDuration{background-position:-48px -23px}

/*popup*/
#popup{display:none}
#popupBG{display:block; width:100%; height:100%; position:fixed; top:0; left:0; z-index:50; background-color:rgba(255,255,255,0.5)}
#popupContent{width:auto; height:auto; overflow:auto; border:solid 1px #FFF; border-radius:10px; box-shadow:0px 0px 7px #333; position:fixed; z-index:55}
#popupContent .process{display:block; width:auto; height:auto; padding:20px 30px; background-color:#FFF}
/*end popup*/